
<div class="row principal">
  <div class="large-12 columns p-a-a p-a p-t p-img">
  </div>
</div>
<div class="row">
  <div class="large-6 large-centered columns titulo">
    <h2>CONTÁCTANOS</h2>
    <p>Tchaikovsky 71, Col. La Loma, Morelia, Michoacán, México.
    <br/>C.P. 58290
    <br/>contacto@exercictry.com
    <br/>Tel: +52 (443) 275 1656</p>
  </div>
</div>
<div class="row">
  <div class="large-10 large-centered columns">
    <form data-abide action="php/mail.php" method="post" accept-charset="utf-8">
      <div class="row">
        <div class="medium-6 columns">
          <label>Nombre
            <input type="text" placeholder="Juan">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Correo Electronico
            <input type="email" placeholder="email@mail.com">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Telefono
            <input type="text" placeholder="44-4444-4444">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>Comentario
            <textarea name="name" rows="8" cols="40" placeholder="algun comentario..."></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <input class="expanded button" type="submit" value="Enviar">
        </div>
      </div>
    </form>
  </div>
</div>
