<div class="row principal">
  <div class="large-12 columns p-a-a p-a p-t p-img">
  </div>
</div>
<div class="row principal">
  <div class="large-7 large-centered columns p-p">
    <p>
      Exercicitry® es una marca dedicada a desarrollar productos que generan energía eléctrica a partir de la actividad física de las personas.
    </p>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns segundo">
    <p>
      <span class="a">
        exercicitry® bike
      </span>
      <br>
      <span class="b">
        Módulo removible que cosecha energía al andar en tu bicicleta.
      </span>
    </p>
  </div>
  <div class="medium-8 columns segundo">
    <img src="assets/img/segundo.png" alt="segundo" />
  </div>
</div>
<div class="row principal">
  <div class="large-10 large-centered columns p-p">
    <p>
    <span style="color:#4CA6FF;">Exercicitry Bike.</span> Nuestro producto estrella es Exercicitry® Bike, un módulo removible y portátil capaz de cosechar la energía producida al andar en bicicleta.
    </p>
  </div>
</div>
<div class="row gal">
  <div class="small-6 columns"><img src="assets/img/img-1.png" alt="segundo" /></div>
  <div class="small-6 columns"><img src="assets/img/img-2.png" alt="segundo" /></div>
</div>
<div class="row gal">
  <div class="small-12 columns"><img src="assets/img/img-3.png" alt="segundo" /></div>
</div>
<div class="row">
  <div class="medium-8 columns segundo">
    <img src="assets/img/tercero.png" alt="segundo" />
  </div>
  <div class="medium-4 columns segundo">
    <p>
      <span class="a">
        exercicitry® gym
      </span>
      <br>
      <span class="b">
        Biciletas estáticas generadoras de energía.
      </span>
    </p>
  </div>
</div>
<div class="row principal">
  <div class="large-10 large-centered columns p-p">
    <p>
    <span style="color:#4CA6FF;">Exercicitry Gym. </span>Pensado especialmente para los centros del cuidado de la salud que cuentan con servicio de Spinning. Contamos con la solución completa de instalación de bicicletas fijas generadoras de electricidad.
  </div>
</div>
