
<div class="row">
  <div class="large-4 columns nosotros1">
    <p>
      <span class="a-b">
        ¿Quiénes somos?
      </span>
      <br>
      <span class="b-b">
        Somos una empresa 100% mexicana, dedicada al desarrollo de productos generadores de energía sustentable. Asimismo, buscamos concientizar a la población mexicana sobre la importancia del ahorro energético e informar sobre las ventajas de practicar una cultura amistosa con el medio ambiente.
      </span>
    </p>
  </div>
  <div class="large-4 columns nosotros2">
    <img src="assets/img/bici.jpg" alt="segundo" />
  </div>
  <div class="large-4 columns nosotros1">
    <p>
      <span class="a-b">
        Misión
      </span>
      <br>
      <span class="b-b">
        Crear productos tecnológicos amigables con el medio ambiente y de alto impacto social, que fomenten la conciencia de generación de energía a partir de la actividad física, promover el ahorro y uso sostenible de la energía. Visión Ser una empresa vanguardista e innovadora con conciencia ambiental y social, con una participación creciente en el mercado para garantizar la oferta de productos y servicios de calidad, que contribuyan a mejorar las condiciones de seguridad, salud y movilidad de nuestros clientes.
      </span>
    </p>
  </div>
</div>
<div class="row">
  <div class="larg-10 large-centered columns nosotros">
    <p>
      <span class="a-b">
        Nuestro desarrollo de productos
      </span>
      <br>
      <span class="b-b">
        se enfocan a 3 ejes:<br>
        - Ciclismo seguro basado en iluminación a base de energía sustentable.<br>
        - Ejercicio aeróbico intregrado a un sistema de generación energética sustentable.<br>
        - Publicidad en espacios físicos que generen energía a partir del movimiento.<br>
        <br>
        El equipo de trabajo Exercicitry está comprometido con ofrecer a nuestros clientes siempre la mejor alternativa en cuanto a soluciones energéticas sustentables, basando nuestra operación en principios de calidad, eficiencia y responsabilidad social.
      </span>
    </p>
  </div>
</div>
<div class="row principal">
  <div class="large-12 columns nosotros-a-a p-a p-t nosotros-img">
  </div>
</div>
