<div class="row">
  <div class="medium-4 columns segundo">
    <p>
      <span class="a">
        exercicitry® bike
      </span>
      <br>
      <span class="b">
        Módulo removible que cosecha energía al andar en tu bicicleta.
      </span>
    </p>
  </div>
  <div class="medium-8 columns segundo">
    <img src="assets/img/segundo.png" alt="segundo" />
  </div>
</div>
<div class="row principal">
  <div class="large-10 large-centered columns p-p">
    <p>
    <span style="color:#4CA6FF;">Exercicitry Bike.</span> Nuestro producto estrella es Exercicitry® Bike, un módulo removible y portátil capaz de cosechar la energía producida al andar en bicicleta.
    </p>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns segundo">
    <img src="assets/img/tercero.png" alt="segundo" />
  </div>
  <div class="medium-4 columns segundo">
    <p>
      <span class="a">
        exercicitry® gym
      </span>
      <br>
      <span class="b">
        Biciletas estáticas generadoras de energía.
      </span>
    </p>
  </div>
</div>
<div class="row principal">
  <div class="large-10 large-centered columns p-p">
    <p>
    <span style="color:#4CA6FF;">Exercicitry Gym. </span>Pensado especialmente para los centros del cuidado de la salud que cuentan con servicio de Spinning. Contamos con la solución completa de instalación de bicicletas fijas generadoras de electricidad.
  </div>
</div>
<div class="row">
  <div class="larg-10 large-centered columns nosotros">
    <p>
      <span class="a-b">
        Servicios Profesionales
      </span>
      <br>
      <span class="b-b">
        Además de nuestra gama de productos, conta-mos con la infraestructura, recurso humano y experiencia para hacer frente a diversos retos tecnológicos, desde diseño electrónico, diseño mecánico, uso e instalación de energías alternati-vas, diseño industrial y protección de propiedad intelectual .
      </span>
    </p>
  </div>
</div>
